.main {
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.52vw 1.041vw;
        background: #323232;
        &_buttons {
            display: flex;
            gap: 0.833vw;
        }
        .button {
            display: flex;
            align-items: center;
            gap: 0.52vw;
            padding: 0.312vw 0.833vw 0.416vw 0.833vw;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.312vw;
            background: #323232;
            cursor: pointer;
            img {
                width: 1.041vw;
                height: 1.041vw;
            }
        }
        .red {
            padding: 0.312vw 1.041vw 0.416vw 1.041vw;
            background: #a9262e;
            color: #fff;
        }
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.52vw;
        padding: 0.52vw;
    }
    &_section {
        display: flex;
        justify-content: space-between;
        width: calc(49.736% - 0.52vw * 2);
        height: calc(25.781vw - 0.52vw * 2);
        padding: 0.52vw;
        border-radius: 0.416vw;
        background: #323232;
        .values {
            display: flex;
            justify-content: space-between;
            width: 23.437vw;
            .data {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 15.989vw;
                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0.833vw;
                    img {
                        width: 1.25vw;
                        cursor: pointer;
                    }
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 0.52vw;
                    margin-top: 0.52vw;
                    .item {
                        display: flex;
                        flex-direction: column;
                        gap: 0.416vw;
                        padding: 0.625vw 0.416vw 0.625vw 0.833vw;
                        border: 0.052vw solid rgba(255, 255, 255, 0.2);
                        border-radius: 0.416vw;
                        background: #282828;
                        .value {
                            display: flex;
                            align-items: center;
                            gap: 0.416vw;
                            img {
                                height: 1.25vw;
                            }
                        }
                        .rotate {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .workload {
                display: flex;
                flex-direction: column-reverse;
                gap: 0.156vw;
                width: calc(6.25vw - 0.416vw * 2 - 0.052vw * 2) ;
                height: calc(24.739vw - 0.416vw * 2 - 0.052vw * 2);
                padding: 0.416vw;
                border: 0.052vw solid rgba(255, 255, 255, 0.2);
                border-radius: 0.416vw;
                background: #282828;
                div {
                    border-radius: 0.104vw;
                    height: 2.031vw;
                }
            }
        }
        .locations {
            position: relative;
            overflow: hidden;
            width: calc(23.828vw - 0.052vw * 2) ;
            height: calc(24.739vw - 0.052vw * 2);
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.416vw;
            &_wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.927vw;
                padding: 0.312vw 0.416vw;
                border: 0.052vw solid rgba(255, 255, 255, 0.2);
                border-radius: 0.208vw;
                background: #282828;
                cursor: pointer;
                &:hover {
                    background: #333333;
                }
                img {
                    height: 0.833vw;
                }
            }
            .label {
                position: absolute;
                top: 0.52vw;
                left: 0.52vw;
                display: flex;
                gap: 0.421vw;
                padding: 0.312vw 0.416vw;
                border: 0.052vw solid rgba(255, 255, 255, 0.2);
                border-radius: 0.208vw;
                background: #282828;
            }
            .buttons {
                position: absolute;
                bottom: 0.52vw;
                left: 0.52vw;
                display: flex;
                gap: 0.312vw;
            }
            .marker {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.041vw;
                height: 1.041vw;
                border: 0.104vw solid #939393;
                border-radius: 2.083vw;
                background: #282828;
                cursor: pointer;
                * {
                    text-align: center;
                }
            }
            .active {
                border: 0.104vw solid #fff;
                background: #3068f9;
                * {
                    color: #fff;
                }
            }
        }
        .video {
            position: relative;
            width: 100%;
            height: 100%;
            video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 0.416vw;
            }
            .top {
                position: absolute;
                top: 0.52vw;
                left: 0.52vw;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                width: calc(100% - 0.52vw * 2);
                .labels {
                    display: flex;
                    gap: 1.25vw;
                }
                .label, .target {
                    display: flex;
                    align-items: center;
                    gap: 0.421vw;
                    padding: 0.312vw 0.416vw;
                    border: 0.052vw solid rgba(255, 255, 255, 0.2);
                    border-radius: 0.208vw;
                    background: #282828;
                    img {
                        width: 1.041vw;
                    }
                }
                .target {
                    padding: 0.312vw;
                    cursor: pointer;
                    img {
                        width: 1.25vw;
                    }
                }
            }
            .buttons {
                position: absolute;
                bottom: 0.52vw;
                left: 0.52vw;
                display: flex;
                gap: 0.312vw;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.312vw 0.416vw;
                    border: 0.052vw solid rgba(255, 255, 255, 0.2);
                    border-radius: 0.208vw;
                    background: #282828;
                    cursor: pointer;
                    &:hover {
                        background: #333333;
                    }
                }
                .active {
                    border: 0.052vw solid rgba(255, 255, 255, 0.4);
                    background: #3068f9;
                    color: #fff;
                }
            }
        }
    }
    .for_video {
        width: 49.736%;
        height: 25.781vw;
        padding: 0;
    }
}
