.main {
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.52vw 1.041vw;
        background: #323232;
        &_buttons {
            display: flex;
            gap: 0.833vw;
        }
        .button {
            display: flex;
            align-items: center;
            gap: 0.52vw;
            padding: 0.312vw 0.833vw 0.416vw 0.833vw;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.312vw;
            background: #323232;
            cursor: pointer;
            &:hover {
                background: #353535;
                
            }
            img {
                width: 1.041vw;
                height: 1.041vw;
            }
        }
        .red {
            padding: 0.312vw 1.041vw 0.416vw 1.041vw;
            background: #a9262e;
            color: #fff;
            &:hover {
                background: rgba(#a9262e, 0.6);
            }
        }
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.52vw;
        padding: 0.52vw;
    }
    &_section {
        display: flex;
        justify-content: space-between;
        width: calc(49.736% - 0.525vw * 2);
        height: calc(25.781vw - 0.525vw * 2);
        padding: 0.52vw;
        border-radius: 0.416vw;
        background: #323232;        
    }
    .for_video {
        width: 49.736%;
        height: 25.781vw;
        padding: 0;
    }
}
.column {
    flex-direction: column;
}
