.main {
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.52vw 1.041vw;
        background: #323232;
        &_buttons {
            display: flex;
            gap: 0.833vw;
        }
        .left {
            display: flex;
            align-items: center;
            gap: 0.625vw;
            img {
                width: 1.875vw;
            }
        }
        .return {
            width: 1.875vw;
            height: 1.875vw;
            cursor: pointer;
            &:hover {
                fill: rgba(255, 255, 255, 0.05);
            }
            &:active {
                path {
                    stroke: #D4D4D4;
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            gap: 0.52vw;
            padding: 0.312vw 0.833vw 0.416vw 0.833vw;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.312vw;
            background: #323232;
            cursor: pointer;
            &:hover {
                background: #353535;
            }
            img {
                width: 1.041vw;
                height: 1.041vw;
            }
        }
        .red {
            padding: 0.312vw 1.041vw 0.416vw 1.041vw;
            background: #a9262e;
            color: #fff;
            &:hover {
                background: rgba(#a9262e, 0.6);
            }
        }
    }
    &_header.full {
        padding: 1.666vw 1.666vw 0;
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.52vw;
        padding: 0.52vw;
    }
    &_section {
        display: flex;
        justify-content: space-between;
        width: calc(49.736% - 0.525vw * 2);
        height: calc(25.781vw - 0.525vw * 2);
        padding: 0.52vw;
        border-radius: 0.416vw;
        background: #323232;        
        .full_opened {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.041vw;
            width: 100%;
            svg {
                width: 1.875vw;
                height: 1.875vw;
                cursor: pointer;
                &:hover {
                    fill: rgba(255, 255, 255, 0.05);
                }
                &:active {
                    path {
                        stroke: #D4D4D4;
                    }
                }
            }
        }
        .hide {
            display: none;
        }
        .flex {
            display: flex;
        }
    }
    &_section.full {
        width: calc(100% - 1.666vw * 2);
        height: fit-content;
        padding: 1.562vw 1.666vw;
        border-radius: 0;      
    }
    &_login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 4.166vw;
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 1.25vw;
            label {
                display: flex;
                flex-direction: column;
                gap: 0.416vw;
            }
            input {
                padding: 0.625vw 0.833vw;
                width: calc(26.302vw - 0.833vw * 2);
                border: 0.052vw solid rgba(255, 255, 255, 0.2);
                border-radius: 0.208vw;
                background: #282828;
                font-weight: 400;
                font-size: 1.041vw;
                color: #939393;
                outline: none;
                &:active, &:focus {
                    border: 0.052vw solid rgba(255, 255, 255, 0.4);
                    background: #323232;
                    color: #d4d4d4;
                }
                &::placeholder {
                    font-weight: 400;
                    font-size: 1.041vw;
                    color: #939393;
                }
            }
        }
        .title_32 {
            text-align: center;
        }
        button {
            padding: 0.312vw 0.833vw 0.416vw 0.833vw;
            width: fit-content;
            margin: 0 auto;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.312vw;
            background: #323232;
            opacity: 0.5;
            text-align: center;
            font-weight: 400;
            font-size: 0.729vw;
            color: #fff;
            cursor: pointer;
            &:hover {
                opacity: 1;
                border: 0.052vw solid #5d5d5d;
            }
        }
        .entered {
            background: #464646;
            opacity: 1;
            &:hover {
                background: #323232;
            }
        }
    }
    .for_video {
        width: 49.736%;
        height: 25.781vw;
        padding: 0;
    }
}
.column {
    flex-direction: column;
}
