.modal {
    display: none;
    position: fixed;
    z-index: 14;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.9);
    .main_section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        width: calc(73.854vw - 1.25vw * 2 + 1.093vw);
        height: auto;
        max-height: 90vh;
        padding: 1.25vw;
        border-radius: 0.625vw;
        &::-webkit-scrollbar {
            width: 1.093vw;
            border-radius: 0.104vw;
            background-color: #2f2f2f;
        }
        &::-webkit-scrollbar-thumb {
            width: 0.781vw;
            border: 0.208vw solid transparent;
            border-radius: 0.104vw;
            background-color: #616161;
            background-clip: content-box;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0.104vw;
            background: #2f2f2f;
        }
        &::-webkit-scrollbar-button:start:decrement {
            background: no-repeat center / 0.52vw url(../icons/scroll_up.svg) #2f2f2f;  
        }
        &::-webkit-scrollbar-button:end:increment {
            background: no-repeat center / 0.52vw url(../icons/scroll_down.svg) #2f2f2f;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 1.875vw;
                height: 1.875vw;
                cursor: pointer;
                &:hover {
                    filter: brightness(70%);
                }
            }
            .left {
                display: flex;
                align-items: center;
                gap: 0.625vw;
                img {
                    width: 1.875vw;
                    cursor: default;
                    &:hover {
                        filter: none;
                    }
                }
            }
        }
    }
}
