.settings {
    &_headers {
        display: flex;
        align-items: center;
        gap: 0.833vw;
        padding: 0.208vw;
        border-radius: 0.312vw;
        background: #282828;
        .active {
            background: #464646;
            color: #fff;
        }
    }
    &_header {
        border-radius: 0.208vw;
        padding: 0.312vw 0.833vw 0.416vw 0.833vw;
        color: #939393;
        cursor: pointer;
        user-select: none;
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.416vw 0;
        margin-top: 0.833vw;
        min-height: 40.729vw;
    }
    &_item {
        width: calc(35.1vw - 0.833vw * 2);
        height: fit-content;
        padding: 0.833vw;
        border: 0.052vw solid rgba(255, 255, 255, 0.2);
        border-radius: 0.416vw;
        background: #282828;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .titles {
                display: flex;
                align-items: center;
                gap: 0.416vw;
                img {
                    width: 1.25vw;
                }
            }
            button {
                padding: 0.312vw 0.833vw 0.416vw 0.833vw;
                border: 0.052vw solid #5d5d5d;
                border-radius: 0.312vw;
                background: #323232;
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                .title {
                    color: #fff
                }
            }
            button.entered {
                background: #464646;
                opacity: 1;
                &:hover {
                    background: #323232;
                }
            }
        }
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.416vw 0;
            margin-top: 0.416vw;
            .param {
                display: flex;
                align-items: center;
                gap: 0.416vw;
                input {
                    padding: 0.312vw 0.625vw;
                    width: calc(21.197vw - 0.625vw * 2);
                    border: none;
                    border-radius: 0.208vw;
                    background: #323232;
                    font-weight: 400;
                    font-size: 0.833vw;
                    letter-spacing: -0.01em;
                    color: #939393;
                    outline: none;
                    &:active, &:focus {
                        padding: calc(0.312vw - 0.052vw) 0.625vw;
                        width: calc(21.197vw - 0.625vw * 2 - 0.052vw * 2);
                        border: 0.052vw solid rgba(255, 255, 255, 0.4);
                        color: #d4d4d4;
                    }
                    &::placeholder {
                        font-weight: 400;
                        font-size: 0.833vw;
                        color: #939393;
                    }
                }
                .title {
                    width: 4.687vw;
                }
            }
            .small {
                input {
                    width: calc(5.104vw - 0.625vw * 2);
                    &:active, &:focus {
                        width: calc(5.104vw - 0.625vw * 2 - 0.052vw * 2);
                    }
                }
                .title {
                    width: 0.937vw;
                }
            }
            .big {
                input {
                    width: calc(28.489vw - 0.625vw * 2);
                    &:active, &:focus {
                        width: calc(28.489vw - 0.625vw * 2 - 0.052vw * 2);
                    }
                }
            }
        }
    }
    .main_section > .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 1.875vw;
            height: 1.875vw;
            cursor: pointer;
            &:hover {
                filter: brightness(70%);
            }
        }
        .left {
            display: flex;
            align-items: center;
            gap: 2.083vw;
            
        }
        .titles {
            display: flex;
            align-items: center;
            gap: 0.625vw;
            img {
                width: 1.875vw;
                cursor: default;
                &:hover {
                    filter: none;
                }
            }
        }
    }
}
