.video {
    position: relative;
    width: 100%;
    height: 100%;
    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 0.416vw;
    }
    .top {
        position: absolute;
        top: 0.52vw;
        left: 0.52vw;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 0.52vw * 2);
        .labels {
            display: flex;
            gap: 1.25vw;
        }
        .label, .target {
            display: flex;
            align-items: center;
            gap: 0.421vw;
            padding: 0.312vw 0.416vw;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.208vw;
            background: #282828;
            img {
                width: 1.041vw;
            }
        }
        .target {
            padding: 0.312vw;
            cursor: pointer;
            svg {
                width: 1.25vw;
                height: 1.25vw;
                cursor: pointer;
                &:hover {
                    fill: rgba(255, 255, 255, 0.05);
                }
                &:active {
                    path {
                        stroke: #D4D4D4;
                    }
                }
            }
        }
    }
    .buttons {
        position: absolute;
        bottom: 0.52vw;
        left: 0.52vw;
        display: flex;
        gap: 0.312vw;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.312vw 0.416vw;
            border: 0.052vw solid rgba(255, 255, 255, 0.2);
            border-radius: 0.208vw;
            background: #282828;
            cursor: pointer;
            &:hover {
                background: #333333;
            }
            &:active {
                color: #d4d4d4;
            }
        }
        .active {
            border: 0.052vw solid rgba(255, 255, 255, 0.4);
            background: #3068f9;
            color: #fff;
            &:hover {
                background: #3068f9;
            }
        }
    }
}

.video.full {
    display: flex;
    justify-content: space-between;
    video {
        width: 94.963%;
        height: 47.878vw;
        border-radius: 0.808vw;
    }
    .top {
        top: 1.01vw;
        left: 5.858vw;
        width: fit-content;
        .labels {
            gap: 1.212vw;
        }
        .label {
            gap: 0.454vw;
            padding: 0.505vw 0.606vw;
            border-radius: 0.303vw;
            img {
                width: 1.414vw;
            }
        }
    }
    .buttons {
        position: static;
        flex-direction: column;
        gap: 0.555vw;
        width: 4.512%;
        button {
            padding: 0.606vw 0.808vw;
            border-radius: 0.404vw;
        }
    }
}
